.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.about-about {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(228, 238, 247, 1);
}

.about-group2 {
  top: 93px;
  left: 817px;
  width: 515px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.about-group4 {
  top: 0px;
  left: 0px;
  width: 515px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.about-frame200 {
  top: 755px;
  left: 124px;
  width: 28px;
  height: 76px;
  position: absolute;
}

.about-frame199 {
  top: 208px;
  left: 228px;
  width: 1074px;
  height: 738px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.about-text {
  top: 12px;
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Architects Daughter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.about-rectangle29 {
  top: 0px;
  left: 633px;
  width: 441px;
  height: 369px;
  position: absolute;
}

.about-text01 {
  top: 131px;
  color: rgba(0, 0, 0, 1);
  width: 561px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Karla;
  font-weight: 400;
  line-height: 162.8999948501587%;
  font-stretch: normal;
  text-decoration: none;
}

.about-text06 {
  top: 530px;
  left: 115px;
  color: rgba(0, 0, 0, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Karla;
  font-weight: 400;
  line-height: 162.8999948501587%;
  font-stretch: normal;
  text-decoration: none;
}

.about-text08 {
  top: 530px;
  left: 300px;
  color: rgba(0, 0, 0, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Karla;
  font-weight: 400;
  line-height: 162.8999948501587%;
  font-stretch: normal;
  text-decoration: none;
}

.about-text10 {
  top: 530px;
  left: 485px;
  color: rgba(0, 0, 0, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Karla;
  font-weight: 400;
  line-height: 162.8999948501587%;
  font-stretch: normal;
  text-decoration: none;
}

.about-text12 {
  top: 530px;
  left: 670px;
  color: rgba(0, 0, 0, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Karla;
  font-weight: 400;
  line-height: 162.8999948501587%;
  font-stretch: normal;
  text-decoration: none;
}

.about-text14 {
  top: 530px;
  left: 855px;
  color: rgba(0, 0, 0, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Karla;
  font-weight: 400;
  line-height: 162.8999948501587%;
  font-stretch: normal;
  text-decoration: none;
}

.about-text16 {
  top: 482px;
  left: 134px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Karla;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-text18 {
  top: 482px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Karla;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-text20 {
  top: 482px;
  left: 504px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Karla;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-text22 {
  top: 482px;
  left: 689px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Karla;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-text24 {
  top: 482px;
  left: 874px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Karla;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-arrows1 {
  top: 506px;
  left: 145px;
  width: 770px;
  height: 27px;
  position: absolute;
}

.about-text26 {
  top: 332px;
  left: 122px;
  color: rgb(0, 0, 0);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Karla;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-logo1 {
  top: 36px;
  left: 72px;
  width: 95px;
  height: 144px;
  position: absolute;
}

.about-about {
  height: 999px;
  padding-bottom: 0px;
}

.button {
  border: 0;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  font-family: Karla;
  position: relative;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
}

.button::before,
.button::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.button::after {
  bottom: 0;
  right: 0;
}

.button::before {
  top: 0;
  left: 0;
}

.button:hover::before,
.button:hover::after {
  width: 100%;
  height: 100%;
}

.button:hover::before {
  border-top-color: #000000;
  border-right-color: #000000;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

.button:hover::after {
  border-bottom-color: #000000;
  border-left-color: #000000;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}

.about-button1,
.about-button3 {
  margin-left: 50px;
}

.about-button2 {
  font-weight: 800;
  margin-left: 50px;
}